// html, body {
//     max-width: 100%;
//     overflow-x: hidden;
//     background: white;
//     color: black;
//     font-family: sans-serif;
// }

// .input {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #8E44AD;
//   height: 80px;
//   box-shadow: 0 0 10px rgba($color: black, $alpha: 0.8);

//   input {
//     background: white;
//     padding: 20px;
//     border-radius: 10px;
//     width: 50%;
//     border: none;
//     color:#8E44AD ;
//   }
// }

// .chatRoom_container {
//   display: grid;
//   width: 100vw;
//   grid-template-columns: 200px 1fr 200px;
//   grid-template-rows: 80px minmax(100vh, 1fr) 80px;
//   grid-template-areas:
//     "back ."
//     ". messages";

//   .messages {
//     height: 100%;
//     width: 100%;
//     grid-area: messages;

//     > div {
//     }
//   }
// }

// a {
//   &.btn {
//     color: black;
//     text-decoration: none;
//     width: 10px;
//     width: 150px;
//     font-size: 1em;
//     text-align: center;
//     font-size: 2em;
//   }

//   &.back {
//     grid-area: back;
//     &::before {
//       content: "«|";
//       font-family: monospace;
//       font-size: 2em;
//     }
//   }
// }

.input-field input[type="text"]:focus + label {
  color: #000;
}

.message-content {
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  margin: 5px 0;
}

.message.left {
  & > .message-content {
    text-align: left;
    border-bottom-left-radius: 5px;
    background: #95a5a6;
  }
}

.message.right {
  & > .message-content {
    text-align: right;
    background: #009688;
    border-bottom-right-radius: 5px;
  }
}

.chat.row {
  margin-bottom: 100px;
}

.input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: white;
}